*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    height: 80px;
}
main {
    height: calc(100vh - 80px);
    width: 100%;
}
.box-songs {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 80px;
}
.box-album {
    width: calc(100% / 5);
    text-align: center;
}
.box-album img{
    width: 90%;
}